In [ ]:
# Let's create our first print statement
print("Hello, Black World!")

Hello, Black World!

In [ ]:
# same code with the single quotes
print('Hello, Black World!')

Hello, Black World!

In [ ]:
# Let's print the value of the pi from the math module
# improt the math module
import math
print(math.pi)

3.141592653589793

In [ ]:
# Let's create a variable with the value of pi from the math module
pi = math.pi

In [ ]:
# Print the value stored in the variable pi
print(pi)

3.141592653589793

In [ ]:
#Print the value store in the value pi
pi

3.141592653589793

In [ ]:
""" Let's print the statement of the value of pi is
with the value stored in the variable pi."""
print("The value of pi is: \n", pi)

The value of pi is:  3.141592653589793

In [ ]:
# Let's describe my provide
name = "Alice"
job = "Development Expert"
print("My name is", name, "and I am a", job)

My name is Alice and I am a Development Expert

In [ ]:
# Let's use variable with string
greetings = "Hello"
name = "Alice"
print(greetings, name)

Hello Alice

In [ ]:
# saving a value of a number for addition
a = 1

In [ ]:
# Print the varibale
a +=4
print(a)

5

In [ ]:
# using different operators
a = -12
b = 5.7
c = 2
a,b,c

(-12, 5.7, 2)

In [ ]:
# Print addition operator
print("a + b =", a+b)

a + b = -6.3

In [ ]:
# multiplication * operator
print("a * c =", a*c)

a * c = -24

In [ ]:
# division with // operator
print("a // c =", a//c)

a // c = -6

In [ ]:
# print with string and operator
print(greetings, name, a+b)

Hello Alice -6.3

In [ ]:
# Equals to == operator
a = 5
b = 5
c = 6
print("a == b is", a==b)
print("a == c is", a==c)

a == b is True
a == c is False

In [ ]:
# Assignment 2
event = "March on Washington for Jobs and Freedom"
date = "Augusut 28, 1963"
print("Event:", event, "Date:", date)

Event: March on Washington for Jobs and Freedom Date: Augusut 28, 1963

In [ ]:
# Assignment 2 Q4
x = 5
y = 10
print("The value of x is", x, "and the value of y is", y)

The value of x is 5 and the value of y is 10

In [ ]:
# Assignment 2 Q 5
My_Affirmation = "Black is beautiful"
print(My_Affirmation * 5)

Black is beautifulBlack is beautifulBlack is beautifulBlack is beautifulBlack is beautiful

In [ ]:
# Assignment 2 Q 9
x = 5
y = 3
print(x+y)

8

In [1]:
#Elif Statement
a = 17
if a < 10:
   print("a is less than 10")
elif a < 20:
  print("less than 20")
else:
  print("greater than 10")

less than 20

In [8]:
# Grading using Elif statement
grade = 82
if grade < 60:
 print("You got an F.")
elif grade < 70:
 print("You got a D.")
elif grade < 80:
  print("You got a C.")
elif grade < 90:
  print("You got a B.")
else:
  print("You got an A.")

You got a B.

This is where we can enter some text about our project

# <b>Big title<b>
## **Subtitle or section title**
### **Subsection**
### **Another section**
#### **smallest section title**


* bullet points